<div class="container">
  <form>
    <input type="text" name="title" [(ngModel)]="task.title" class="form-control" placeholder="Task title">
    <select class="form-control" name="status" [(ngModel)]="task.status">
      <option value="A faire">A faire</option>
      <option value="En cours">En cours</option>
      <option value="Terminer">Terminer</option>
    </select>
    <button class="btn btn-success" (click)="addTask()">OK</button>
  </form>
  <div class="tasks">
    <div *ngFor="let task of tasks" class="task">
      <div class="task-info">
        <span>{{task.title}}</span>
      </div>
      <div class="task-info">
        <span>{{ task.status }}</span>
      </div>
      <div class="task-info">
        <button class="btn btn-primary">Modifier</button>
        <button class="btn btn-danger">Supprimer</button>
      </div>
    </div>
  </div>

</div>
