<div class="container">
  <button [routerLink]="'create'" class="btn btn-success">CREATE TASK</button>
  <form>
    <select class="form-control" name="searchField" [(ngModel)]="searchField">
      <option value="title">Title</option>
      <option value="status">Status</option>
    </select>
    <input type="text" [(ngModel)]="search" name="search" placeholder="Search..." class="form-control">
  </form>
  <div class="tasks">
    <div *ngFor="let task of tasks | filterByField:search:searchField; let i = index" class="task">
      <div class="task-info">
        <span>{{task.title}}</span>
      </div>
      <div class="task-info">
        <span>{{ task.status }}</span>
      </div>
      <div class="task-info">
        <button class="btn btn-primary">Modifier</button>
        <button class="btn btn-danger" (click)="removeTask(i)">Supprimer</button>
      </div>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
